**/*.inc
.DS_Store
.idea/
.newt-cache/
CMakeUserPresets.json
cmake-build-debug/
cmake-build/
conan_provider.cmake
metatron/auth_context.pb.cc
metatron/auth_context.pb.h
metatron/auth_context.proto
metatron/metatron_config.cc
ska/
spectator/netflix_config.cc
venv/
