**/*.inc
.DS_Store
.idea/
.newt-cache/
CMakeUserPresets.json
cmake-build-debug/
cmake-build/
conan_provider.cmake
lib/metatron/auth_context.pb.cc
lib/metatron/auth_context.pb.h
lib/metatron/auth_context.proto
lib/metatron/metatron_config.cc
lib/ska/
lib/spectator/registry/netflix_config.cc
venv/
